
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>FlaskApp</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div id="title">
    {% block title %}
        <h1>
            Liste des gènes par ordre alphabétique
        </h1>
    {% endblock %}
    </div>
    <div id="content">
    {% block content %}
        <ul>
            {% for parts in part%}
                <tr>
                    <td>
                        <li ><a href="{{url_for('gene',part=parts)}}">{{parts}}</a></li><br>
                    </td>
                </tr>    
                {% endfor %}
        </ul>
    {% endblock %}
        </div>
    <div id="footer">
        <a href="{{url_for('index')}}">Retour à la liste des organismes</a><br>
        <br>
      &copy; Copyright 2023 by Deborah SCHULE.
    </div>
</body>
</html>


