{% extends "first_page.html" %}
{% block title %}
    <h1>
        Modifications du gène {{list[0][0]}}
    </h1>
{% endblock %}
{% block content %}
    <ul>
        <form method="POST">
            <label>Nom du gène</label> : <input type="text" name="g_name" value="{{list[0][2]}}"/><br>
            <br>
            <label>Band</label> : <input type="text" name="band" value="{{list[0][3]}}"/><br>
            <br>
            <label>Strand</label> : <input type="text" name="strand" value="{{list[0][4]}}"/><br>
            <br>
            <label>Gène Start</label> : <input type="text" name="start" value="{{list[0][5]}}"/><br>
            <br>
            <label>Gène End</label> : <input type="text" name="end" value="{{list[0][6]}}"/><br>
            <br>
            <button type="submit">Save</button>
            <button type="reset">Reset</button>
        </form>
    </ul>
{% endblock %}