html {
    margin : 0;
    padding: 0;
}
body {
    margin : 100px 100px;   
}
h1 {
    font-size: 50px;
    text-align: center;
  }
html {
    background-color: bisque;
}
ul {
    margin : 10px 50px;   
}
h2, h3, h4 {
    font-size: 40px;
}
#footer {
    margin-top : 50px;
}
#content {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #DAC6A5;
}
