{% extends "first_page.html" %}
{% block title %}
    <h1>
        Informations sur le gène {{info[0][0]}}
    </h1>
{% endblock %}
{% block content %}
    <ul>
        <h2>
            Informations générales
        </h2>
        Gènes id : {{info[0][0]}}<br>
        Associated Name : {{info[0][1]}}<br>
        Chromosome Name : {{info[0][2]}}<br>
        Band : {{info[0][3]}}<br>
        Strand : {{info[0][4]}}<br>
        Gene start at : {{info[0][5]}}<br>
        Gene end at : {{info[0][6]}}<br>
        Transcript count: {{info[0][7]}}<br>
        <br>
        <a href="{{url_for('form',id=info[0][0])}}">Modification des informations du gène</a>
        <h3>
            Liste des Transcripts
        </h3>
        {% for trans in t%}
            <li>Gene transcript id : <a href="{{url_for('transcript',id=trans[0],g_id=info[0][0])}}">{{trans[0]}}</a>, Gene transcript start : {{trans[1]}}, Gene transcript end : {{trans[2]}}</li><br>
            {% endfor %}<br>
        <br>
        <h4>
            Liste des parties reliés
        </h4>
        {% for p in org_part%}
            <li><a href="{{url_for('gene',part=p)}}">{{p}}</a></li><br>
            {% endfor %}<br>
    </ul>
    {% endblock %}

